a.a {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding: 15px;
    font-weight: 300;
    padding: 15px;
}

a.a:hover {
    background: linear-gradient(135deg, #07A7E3 0%, #32DAC3 100%);
}

@media(max-width: 768px) {
    a.a {
        display: inline;
        padding: 10px;
        margin: 0px;
    }
}